dwl
dwl.c.orig
dwl.c.rej
dwl.o
error.log
client.h.orig
config.def.h.rej
btrtile.c
config.def.h.orig
config.def.h.rej
config.def.h.rej
systray/helpers.o
systray/helpers.o
systray/icon.o
systray/item.o
systray/menu.o
systray/tray.o
systray/watcher.o
config.h
cursor-shape-v1-protocol.h
dbus.o
everse
flake.lock
util.o
xdg-shell-protocol.h
pointer-constraints-unstable-v1-protocol.h
wlr-layer-shell-unstable-v1-protocol.h
wlr-output-power-management-unstable-v1-protocol.h
wlr-foreign-toplevel-management-unstable-v1-protocol.h
Makefile.rej
Makefile.orig
dwl_debug.log
